.car {
  position: absolute;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.car.visible {
  opacity: 1;
}

.car.leaving {
  opacity: 0;
}

.carImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
